<%= form_with(model: @tuitum, local: true ,url: choose_new_or_edit) do |form| %>
<% if @tuitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tuitum.errors.count %>件のエラーがあります。<br>1文字以上１４０文字以内にして下さい。</h2>
      <ul>
        <% @tuitum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="tuitum_title">
  <%= form.label :内容 %><br>
  <%= form.text_field :content %>
</div>

  <%= form.submit %>
<% end %>







