<%= form_with(model: @tuitum, local: true ,url: choose_new_or_edit) do |form| %>
<% if @tuitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tuitum.errors.count %>件のエラーがあります。<br>1文字以上１４０文字以内でお願い❤️</h2>
      <ul>
        <% @tuitum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="tuitum_title">
  <%= form.label :投稿内容 %><br>
  <%= form.text_field :content,:size=>"50" %><br>
  
  <center><%= form.label :画像 %></center>
  <div class="tuitum_image">
  <%= image_tag(@tuitum.image.url, :size => "500x330") if @tuitum.image.url %>
    <%= form.file_field :image %><br>
</div>
  <button type="submit" class="btn btn-info">＄wする</button>
</div>
<% end %>






