<div class="toppage">
      <ul = "nav">
        <li class = "sin"><%= link_to '＄w',root_path %>sw</a></li>
        <li class = "toukou"><%= link_to '＄wする',new_tuitum_path %>投稿する</a></li>
        <li class = "naiyou"><%= link_to '＄wをみる',tuita_path %>内容をみる</a></li>
      </ul>
</div>

<p id="notice"><%= notice %></p>

<h1 class ="rend">＄w一覧</h1>



  <tbody>
    <% @tuitum.each do |tuitum| %>
       <div class = "list">
        <h1 class ="content"><%= tuitum.content %></h1>
  
        <div class="blog-links">
          <%= link_to '＄w詳細', tuitum , class: 'btn btn-info' %>
          <%= link_to '＄w編集', edit_tuitum_path(tuitum) , class: 'btn btn-default' %>
          <%= link_to '＄wを消す', tuitum, method: :delete, data: { confirm: '＄wを削除しますか？' }, class: 'btn btn-danger' %><br>
        </div>
      </div>
    <% end %>
    <footer id = "index_footer">
        <center><p>運営会社川田株式会社</p><center>
        <center><p>© 2018　かわだ </p><center>
    </footer>
  </tbody>

