<div class="toppage">
      <ul = "nav">
        <li class = "sin"><%= link_to 'sw',root_path %>sw</a></li>
        <li class = "toukou"><%= link_to '投稿する',new_tuitum_path %>投稿する</a></li>
        <li class = "naiyou"><%= link_to '内容をみる',tuita_path %>内容をみる</a></li>
      </ul>
</div>

<p id="notice"><%= notice %></p>

<h1 class ="rend">一覧表示</h1>



  <tbody>
    <% @tuitum.each do |tuitum| %>
       <div class = "list">
        <h1 class ="content"><%= tuitum.content %></h1>
  
        <div class="blog-links">
          <%= link_to 'Show', tuitum , class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_tuitum_path(tuitum) , class: 'btn btn-default' %>
          <%= link_to 'Destroy', tuitum, method: :delete, data: { confirm: '消してもいいですか？' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </tbody>

