<div class="toppage">
      <ul = "nav">
        <li class = "sin"><%= link_to 'ï¼„w',root_path %>sw</a></li>
        <li class = "nav1"><%= link_to 'ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«',user_path(current_user.id) %></li>
        <li class = "nav2"><%= link_to "ãŠæ°—ã«å…¥ã‚Š", favorites_path(current_user.id) %>
        <li class = "nav3"><%= link_to 'ãƒ–ãƒ­ã‚°æŠ•ç¨¿',new_tuitum_path %></li>
        <li class = "nav4"><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", session_path(current_user.id), method: :delete %></li>
      </ul>
</div>


<h1 class ="rend">ãƒ–ãƒ­ã‚°ä¸€è¦§</h1>



  <tbody>
    <% @tuitum.each do |tuitum| %>
       <div class = "list">
        <h1 class="content">æŠ•ç¨¿è€…ï¼š<%= tuitum.user.name %></h1>
        <h1 class ="content"><%= tuitum.content %></h1>
        <div class="blog-links">
          <%= link_to 'è©³ç´°ç”»é¢ðŸ˜„', tuitum_path , class: 'btn btn-info' %>
          <%= link_to 'ç·¨é›†ç”»é¢ðŸ˜', edit_tuitum_path(tuitum) , class: 'btn btn-default' %>
          <%= link_to 'å‰Šé™¤ðŸ˜«', tuitum_path, method: :delete, data: { confirm: 'æŠ•ç¨¿ã‚’å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ' }, class: 'btn btn-danger' %><br>
        </div>
      </div>
    <% end %>
    <footer id = "index_footer">
        <center><p>Â© 2018ã€€ï¼„w</p><center>
        <center><p>Â© 2018  ï¼„w</p><center>
    </footer>
  </tbody>
  
  
  
  
  