<div class="toppage">
      <ul = "nav">
        <li class = "sin"><%= link_to '＄w',root_path %>sw</a></li>
        <li class = "toukou"><%= link_to '＄wする',new_tuitum_path %>投稿する</a></li>
        <li class = "naiyou"><%= link_to '＄wをみる',tuita_path %>内容をみる</a></li>
      </ul>
</div>

<body id = "top" >

<p id="notice"><%= notice %></p>

<h1 class = "ren">$w詳細画面</h1>

<p class = "rend">＄w内容:<%= @tuitum.content %></p>

<div class = "botan">
<%= form_with(model: @tuitum, url: tuita_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <button type="submit" class="btn btn-warning">戻る</button>
  </div>
<% end %>
<footer id = "footer">
        <center><p>運営会社ヘアサロン千葉栄輝社</p><center>
        <center><p>© 2018　えいき </p><center>
    </footer>
</body>